.content {
    white-space: pre-wrap;
    /* list-style: none; */
}

.container {
    display: flex;
    gap: 30px;
    padding: 15px;
    background: lightpink;
}

.link {
    text-decoration: none;
    color: cornflowerblue;
}

.itemLink {
    text-decoration: none;
    color: #000000a8;
}


.textBox {
    background: blanchedalmond;
    padding: 20px 15px 15px;
}

.button {
    padding: 10px;
    background: #ffa50066;
    border: 1px solid #eca704;
    border-radius: 9px;
}