ul {
    margin-top: 50px;
}

.content {
    white-space: pre-wrap;
    margin-bottom: 10px;
}

.container {
    display: flex;
    gap: 30px;
    padding: 15px;
    background: #343c7e;
}

.link {
    text-decoration: none;
    color: #7aa9ff;
}

.active {
    color: rgb(229 136 229);
}

.itemLink {
    text-decoration: none;
    color: #000000a8;
}


.textBox {
    background: #cdd3ff;
    padding: 20px 15px 15px;
    height: 100vh;
}

.button {
    padding: 10px;
    background: #4a00ff6b;
    border: 1px solid #b083ae;
    border-radius: 9px;
}

.goBack {
    color: #2169ff;
}