.temterature-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 42px;
  margin-bottom: 50px;
}

.input-box {
  display: flex;
  gap: 55px;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  width: 300px;
}

